Makefile
addons.make
config.make
obj/*
timelinedebrisa.qbs
*.mp4
.vs/
bin/*
*.dll
brisasControladas.VC.db
brisasControladas.sln
brisasControladas.vcxproj
brisasControladas.vcxproj.filters
brisasControladas.vcxproj.user
icon.rc

