Makefile
addons.make
config.make
obj/*
timelinedebrisa.qbs
*.mp4
.vs/
bin/*
*.dll
brisasControladas.VC.db
brisasControladas.sln
*.qbs
brisasControladas.vcxproj
brisasControladas.vcxproj.filters
brisasControladas.vcxproj.user
icon.rc
kinectExample.VC.db
kinectExample.sln
kinectExample.vcxproj
kinectExample.vcxproj.filters
kinectExample.vcxproj.user
