Makefile
addons.make
config.make
obj/*
timelinedebrisa.qbs
*.mp4
.vs/
bin/FreeImage.dll
bin/Zlib.dll
bin/assimp.dll
bin/brisasControladas_debug.exe
bin/brisasControladas_debug.exp
bin/brisasControladas_debug.ilk
bin/brisasControladas_debug.pdb
bin/brisasControladas_debug.lib
*.dll
brisasControladas.VC.db
brisasControladas.sln
brisasControladas.vcxproj
brisasControladas.vcxproj.filters
brisasControladas.vcxproj.user
icon.rc

